@using Village.Model
@model IEnumerable<House>

@{
    ViewBag.Title = "Home Page";
}


<table class="table">
    <thead>
        <tr>
            <th>House No.</th>
            <th>Owner Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var h in Model)
        {
            <tr>
                <td>@h.HouseNo</td>
                <td>@(h.Owner?.Person?.Name)</td>
            </tr>
        }
    </tbody>
</table>

